*,
a{
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #333333;
    box-sizing: border-box;
}

body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    color: #333333;
    
}

.header{
    height: 7vh;
    /*background-color: cornflowerblue;*/
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: #c7c7c7 solid .09px;
    z-index: 9999;
}

.icon-search{
    color: #000000;
}

.col-left{
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*background-color: crimson;*/
  width: 220px;
  
}

.col-left_h1{
    text-transform: uppercase;
    font-size: 16px;
    font-family: 'Bree Serif', serif;
    line-height: 19px;
    color: #000000;
    font-weight: 700;
    text-decoration: none;
}

.col-left_h1:hover{
    text-decoration: underline;

}

.col-center{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
}

.logo{
    margin-top: 10px;
    height: 26px;
    padding: 0;
    
}

.col-right{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 190px;
}


.btn{
    height: 30px;
    color: #ffffff;
    font-size: 11px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    line-height: 11px;
    text-transform: uppercase;
    background-color:#326891;
    padding: 10px 10px;
    border-radius: 4px;
    letter-spacing: 1px;
    font-weight: 900;
}

.headin-left{
    display: flex;
    align-items: center;
    font-size: 11px;
    font-family: 'Roboto', sans-serif;
}

.headin-left_text{
    padding-right: 4px;
    font-size: 11px;
    font-family: 'Roboto', sans-serif;
}

.icon-chevron-down{
    color: gray;
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: green;
    height: 8000px;

}

.main-image{
    display: flex;
    align-items: center;
    background-color: grey;
    height: 600px;
    width: 950px;
}

.main-image__content{
    margin-right: 150px;
    background-color: lightblue;
    height: 2200px;
    width: 600px;
}

.main_side-bar{
    display: flex;
    justify-content: flex-end;
    margin-top: 50px;
    width: 1300px;
    align-items: center;
    
}

.aside{
    background-color: lightcoral;
    height: 350px;
    width: 200px;
}

.sprite_img{
    margin-top: 50px;
    height: 500px;
    width: 950px;
    background-color: lightslategray;
}

.more_content{
    margin-top: 50px;
    height: 2400px;
    width: 600px;
    background-color: yellow;
}